.grid{
    background-color: rgb(58, 129, 0);
    height:600px;
    width:600px;
    display:flex;
    flex-wrap:wrap;


}

.square{
    background-color: rgb(165, 85, 11);
    border: solid black 1px;
    height:198px;
    width:198px;
    border-radius: 50%;
    box-shadow:inset 0 10px 0 7px rgb(53 21 6);
    position: relative;
    color:rgb(58, 129, 0);
    
}

.mole{
    object-fit: contain;
    
    background-size:160px 160px  ;
    background-image: url(mole.png);
    z-index: +1; 
}
.moleSmashed{
    
    object-fit: cover;
    
    background-size:160px 160px  ;
    background-image: url(mole-whacked.png);
    z-index: +1; 
    
    
}



